@import "tailwindcss";

@theme {
  --color-brand-blue: #e0f2f7;
  /* --font-serif: 'Times New Roman', Times, serif; */
  --font-Kalnia: 'Kalnia', serif;
  --font-Kaisei: 'Kaisei Decol', serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: white;
  color: #1a1a1a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
    font-family: var(--font-Kalnia) !important;
}

p ,span ,a ,li ,ul {
  font-family: var(--font-Kaisei) !important;
  /* color: #393939  */
}

/* Custom Utilities if needed later */
.glass-panel {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
